<!DOCTYPE html>
<html>
<head>
  <title>Employee Details Form</title>

</head>
<body>

  <div class="container">
    <h1>Employee Details Form</h1>
    <form>
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" placeholder="Enter name" name="name"  [(ngModel)]="name">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" class="form-control" id="email" placeholder="Enter email" name="email" [(ngModel)]="email">
      </div>
      <div class="form-group">
        <label for="designation">Designation:</label>
        <input type="text" class="form-control" id="designation" placeholder="Enter designation" name="designation" [(ngModel)]="designation">
        </div>
      <button type="button" class="btn btn-primary" (click) = "saveEmployee()">Submit</button>
      <button type="button" style=" margin: 1rem;" class="btn btn-secondary" (click) = "getEmployees()">Get Data</button>
    </form>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Designation</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of employeeList">
          <td>{{e.name}}</td>
          <td>{{e.email}}</td>
          <td>{{e.designation}}</td>
        </tr>
   
       </tbody>
      </table>     
  </div>
</body>
</html>
